<p>Search: <input ng-model="search" /></p>
<table class="table table-bordered">
    <tr>
      <th>Item Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Available Quantity</th>
      <th>Action</th>
    </tr>
    <tr ng-repeat="item in items | filter:search">
      <td>{{item.name}}</td>
      <td>{{item.category}}</td>
      <td>{{item.price}}</td>
      <td>{{item.availability}}</td>
      <td><span ng-if="item.availability > 0"><button ng-click="addToCart(item)">Add to Cart</button></span></td>
    </tr>
  </table>